name: Tests

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  test:
    name: Test on node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node: [10, 12, 13]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Use node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://registry.npmjs.org

      - name: Install
        run: npm ci

      - name: Bundle
        run: npm run bundle

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run ci-test
